* {
    box-sizing: border-box;
}

form {
    width: 400px;
    border: 5px outset yellowgreen;
    padding: 20px;
    margin: 0 auto;
}

fieldset {
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    text-align: center;
    color: green;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

input[type="checkbox"],
input[type="radio"]{
    width: auto;
}

textarea {
    resize: vertical;
    width: 100%;
}

input::placeholder {
    color: red;
}

/*input:required {*/
/*    outline: 2px solid transparent;*/
/*}*/

input:invalid:not(:placeholder-shown) {
    outline: 1px solid red;
}

input:valid {
    outline: 2px solid blue;
}

