* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: auto;
}

.system {
    font-size: 40px;
    text-align: center;
    background-color: navajowhite;
    border: 2px solid red;
    margin-right: 200px;
    margin-left: 200px;
    padding-bottom: 5px;
}

a:link {
    color: green;
    font-size: 27px;
}

a:visited {
    color: purple;
}

a:hover {
    color: black;
}

a:active {
    color: yellow;
}

.link1 {
    margin-top: -27px;
    margin-right: 80px;
}

.link2 {
    margin-top: 40px;
    margin-left: 200px;
}

.link3 {
    margin-top: -40px;
    text-align: center;
}

.link4 {
    margin-top: -40px;
    margin-left: 1054px;
}